#include "/home/matt/.Xresources.d/colors/solarized_dark"

*foreground:              S_base0
*fading:                  10
!*fadeColor:               S_base03
*cursorColor:             S_base1
*pointerColorBackground:  S_base01
*pointerColorForeground:  S_base1

*color0:                  S_base02
*color1:                  S_red
*color2:                  S_green
*color3:                  S_yellow
*color4:                  S_blue
*color5:                  S_magenta
*color6:                  S_cyan
*color7:                  S_base2
*color8:                  S_base03
*color9:                  S_orange
*color10:                 S_base01
*color11:                 S_base00
*color12:                 S_base0
*color13:                 S_violet
*color14:                 S_base1
*color15:                 S_base3

!! Get solarized colors right
URxvt*.intensityStyles:     false

! Fonts
URxvt*.BD:  White
URxvt*.colorUL: #00D1FF

! Scrollbar
URxvt*.scrollStyle:         plain
URxvt*.scrollTtyKeypress:   true
URxvt*.scrollTtyOutput:     false
URxvt*.scrollWithBuffer:    false
URxvt*.scrollBar:           false
URxvt*.scrollBar_right:     false
URxvt*.scrollBar_floating:  false
URxvt*.secondaryScroll:     true
URxvt*.secondaryScreen:     true
URxvt*.scrollColor:         #222222

! Miscellaneous settings
! Inhibit writing record into system log file utmp
URxvt*.utmpInhibit: false
! De-iconify (map) on receipt of bell character
URxvt*.mapAlert:    true
! Declare terminal name
URxvt*.termName:    screen-256color
! Start as login shell
URxvt*.loginShell:      true
URxvt*.urgentOnBell:    true
URxvt*.visualBell:      false
URxvt*.lineSpace:       0

! Set meta key
URxvt*modifier: super

! Perl extensions
URxvt*.perl-ext-common: default,clipboard,keyboard-select,url-select,-option-popup,-selection-popup,-realine
URxvt*.matcher.button:  1

! Keybindings
! Activate keyboard select mode
URxvt*.keysym.Mod4-Escape:  perl:keyboard-select:activate
! Url-select
URxvt*.keysym.Mod4-u:       perl:url-select:select_next
! Clipboard stuff
URxvt*.keysym.C-Shift-c:    perl:clipboard:copy
URxvt*.keysym.C-Chift-v:    perl:clipboard:paste
URxvt*.keysym.C-Mod4-v:     perl:clipboard:paste_escaped

! Perl options
! Underline all urls
URxvt*.url-select.underline:    true
! Set url-open button to mouse 1
URxvt*.url-select.button:       1
! Launch urls with Firefox
URxvt*.url-select.launcher:     dwb

! Cursor
URxvt*.cursorBlink:     true
!URxvt*.cursorColor:     Cyan
URxvt*.cursorUnderline: false

! Pointer
URxvt*.pointerBlank:    true

! Linebuffer
! I use Tmux for buffer, so set to 0
URxvt*.saveLines:       0

!------ Cut & Paste Settings----DO NOT TOUCH! ------
URxvt*.keysym.Shift-Control-V: perl:clipboard:paste
URxvt*.iso14755: False

!------ Xautolock settings ------!
! Moving mouse to lower left corner activates locker
! Order of corners: UL UR LL LR
! 0 = ignore, + = start after specified seconds,
! - = do not start locker at all
Xautolock.corners: --+-
! Set cornersize to 5 pixels
Xautolock.cornersize:       6
Xautolock.cornerdelay:      5
Xautolock.cornerredelay:    15
Xautolock.locker:           slimlock
Xautolock.time:             5
Xautolock.killer:           ~/bin/scripts/sleeper
Xautolock.killtime:         10

!------ Default Xorg font settings -------!
*font:     -*-fixed-medium-r-normal-*-*-130-*-*-*-*-iso10646-1
*boldFont: -*-fixed-medium-r-normal-*-*-130-*-*-*-*-iso10646-1

!------ Local settings ------!
#include "/home/matt/.Xresources.local"
